.detail-container {
  width: 912px;
  margin: 0 auto;
  padding: 8px;
}
.detail-container .detail-title {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 64px;
  color: #757496;
}
.detail-container .loading {
  text-align: center;
}
.detail-container .detail-inner {
  width: 100%;
  padding: 12px 16px;
  border: 2px solid #757496;
  border-radius: 12px;
  box-shadow: 5px 5px 5px 5px #757496;
  font-family: "Nanum Gothic", sans-serif;
}
.detail-container .detail-inner .detail-movie .detail-layout {
  display: flex;
  justify-content: space-around;
}
.detail-container .detail-inner .detail-movie .detail-layout .detail-movie-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-container .detail-inner .detail-movie .detail-layout .detail-movie-img img {
  border: 1px solid #4bb6dc;
  border-radius: 12px;
}
.detail-container .detail-inner .detail-movie .detail-layout .detail-movie-info {
  width: 50%;
  height: 100%;
  color: #98bbe8;
}
.detail-container .detail-inner .detail-movie .detail-layout .detail-movie-info .detail-movie-title {
  color: #949fff;
}
.detail-container .detail-inner .detail-movie .detail-layout .detail-movie-info .detail-summary {
  font-weight: 700;
  color: #949fff;
}
.detail-container .detail-inner .detail-movie .detail-layout .detail-movie-info .detail-description {
  line-height: 1.6;
  color: #98bbe8;
}