body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  width: 912px;
  border: 2px solid #000;
  margin: 12px;
}
.home-container .home-layout {
  width: 80%;
  margin: auto;
  padding: 14px;
  border: 1px solid #000;
}
.home-container .home-layout .home-nav {
  text-align: center;
  border-bottom: 1px solid #000;
}
.home-container .home-layout .home-info {
  width: 100%;
}